.cart-container{
padding: 10px;
width:100%;
}

.card-container{
 max-width:60%
}

.cart-total-container{
    max-width:40%;
}
.flex-col {
    display:flex;
    flex-direction: column;
}
.flex-row{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

Button{
 width:300px;
 margin:5px;
}